:root {
  --principal: #d9d6d2;
  --secundario: #bfb8b9;
  --fondo: #d9b391;
  --cuadro: #a68072;
  --negro: #0d0d0d;
}

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
  font-size: 62.5%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "Rubik", sans-serif;
  background-color: var(--principal);
  color: var(--negro);
  font-size: 1.6rem;
  line-height: 1.5;
}

p {
  font-size: 1.8rem;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.contenedor {
  max-width: 120rem;
  margin: 0 auto;
}

h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 2.2rem;
}

h3 {
  font-size: 1.8rem;
}

.header {
  display: flex;
  justify-content: center;
}

.header__logo {
  height: 100px;
  width: 100px;
  margin: 1rem 0;
}

.menu {
  background-color: var(--cuadro);
  padding: 1rem 0;
  display: flex;
  justify-content: center;
  gap: 3rem;
}

.menu__enlace {
  font-size: 2rem;
  font-weight: bold;
  color: var(--negro);
}

.menu__enlace--activo,
.menu__enlace:hover {
  color: var(--principal);
}

main {
  margin: 2rem 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: var(--cuadro);
  margin-top: 2rem;
}

.footer__texto {
  font-family: "Rubik";
  font-weight: bold;
}

.grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 2rem;
}

@media (max-width: 768px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 480px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .producto__informacion__descripcion {
    font-size: 1.5rem;
  }

  .producto__informacion__precio {
    font-size: 1rem;
  }
}

.producto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--fondo);
  padding: 0.4rem;
}

.producto__img {
  width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
}

.producto__informacion__descripcion {
  font-size: 2rem;
}

.producto__informacion__precio {
  font-size: 1.5rem;
  font-weight: bold;
}

.producto__informacion__descripcion,
.producto__informacion__precio {
  font-family: "Rubik";
  margin: 0.4rem;
  text-align: center;
  line-height: 1.2;
}

/*Graficos*/
.grafico {
  min-height: 30rem;
  background-repeat: no-repeat;
  background-size: cover;
}

.grafico--1 {
  background-image: url(../img/6.jpg);
  grid-column: 2 / 4;
}

.grafico--2 {
  grid-column: 1 / 4;
  grid-row: 3 / 4;
  background-image: url(../img/2.jpg);
}

@media (max-width: 480px) {
  .grafico--2 {
    grid-column: 1 / 3;
  }

  .grafico {
    max-height: 20rem;
  }
}

.producto__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  justify-content: center;
  align-items: center;
}

.producto__grid__carrito {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.producto__grid__descripcion {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.producto__grid__img {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  object-fit: cover;
}

@media (max-width: 768px) {
  .producto__grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
  }
}

.nosotros {
  display: grid;
  grid-gap: 1rem;
  justify-content: center;
  align-items: start;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
}

@media (max-width: 768px) {
  .nosotros {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
}

.nosotros__img img {
  max-height: 30rem;
}

.nosotros__subtitulo {
  grid-column: 1 / 3;
  text-align: center;
}

.nosotros__ventajas {
  grid-column: 1 / 3;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  text-align: center;
}

@media (max-width: 480px) {
  .nosotros__ventajas {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}

.producto__grid__carrito {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr) ;
  grid-gap: 0.7rem;
}

.formulario_submit {
  grid-column: 1 / 3;
  background-color: var(--fondo);
  border: none;
  border-radius: 0.4rem;
  font-size: 2rem;
  font-weight: bold;
  transition: background-color 0.5s ease;
}

.formulario_submit:hover {
  cursor: pointer;
  background-color: var(--cuadro);
}

.formulario__campo {
  border-color: var(--fondo);
  border-width: 0.75rem;
  border-style: solid;
  /* border: 1rem solid  var(--cuadro);*/

  background-color: var(--principal);
  color: var(--negro);
  font-size: 2rem;
  appearance: none;
  width: 100%;
}